@font-face {
  font-family: 'Andada Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Andada-Pro.ttf') format('truetype');
}
@font-face {
  font-family: 'Andada Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Andada-Pro.ttf') format('truetype');
}
