@font-face {
  font-family: 'Grenze Gotisch';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Grenze-Gotisch.ttf') format('truetype');
}
@font-face {
  font-family: 'Grenze Gotisch';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Grenze-Gotisch.ttf') format('truetype');
}
