@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Lobster-Two.ttf') format('truetype');
}
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Lobster-Two.ttf') format('truetype');
}
