@font-face {
  font-family: 'Tourney';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url('./fonts/Tourney.ttf') format('truetype');
}
@font-face {
  font-family: 'Tourney';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url('./fonts/Tourney.ttf') format('truetype');
}
