@font-face {
  font-family: 'Yrsa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Yrsa.ttf') format('truetype');
}
@font-face {
  font-family: 'Yrsa';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/Yrsa.ttf') format('truetype');
}
